footer {
    background: #ffffff;
    font-size: 10px;
    padding: 12px 0;
}

.link,
.link:active,
.link:visited {
    color: #0057FF;
}


footer .footer-link {

    text-decoration: underline;
    margin: 4px 9px;
}
footer .copyright {
    text-align: center;
}